@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Shippori+Mincho+B1&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

:root {
  --brand: #b33300;
}

.brand-text { color: var(--brand); }
.brand-bg { background-color: var(--brand); }
.brand-border { border-color: var(--brand); }



/* ベースフォント */
body {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-style: normal;
background: var(--background);
  color: var(--foreground);

}

.lato300 {
 font-family: 'Lato', sans-serif;
  font-weight: 300;
}

.lato400 {
 font-family: 'Lato', sans-serif;
  font-weight: 400;
}
.lato700 {
 font-family: 'Lato', sans-serif;
  font-weight: 700;
}
.lato900 {
 font-family: 'Lato', sans-serif;
  font-weight: 900;
}